html, body
    height: 100%
    font-family: 'Droid Sans', sans-serif


.header
    background-color: #eee
    padding: 20px
    h1 
        font-size: 60px
        margin: 0
    p 
        font-size: 14px

.preferences
    margin: 20px 0

.tomato-task-input
    margin: 20px 0

.timer-display 
    padding: 50px 0
    background-color: #333
    color: white
    width: 100%
    text-align: center
    height: 350px
    border-radius: 4px

    &.work 
        background-color: #880000

    &.break 
        background-color: #008800

    h2 
        font-size: 40px
        margin-bottom: 0

    .clock-face 
        font-size: 72px
        padding: 20px

.chat-display
    h2
        height: 38px
        margin: 20px 0

    .chat-messages
        height: 352px
        padding: 20px
        overflow-y: scroll
        word-wrap: break-word
        overflow-wrap: break-word

        .chat-message 
            margin-bottom: 5px


.chat-input
    margin: 20px 0


.done-tomato 
    background-image: url(/emotes/tomato.png)
    background-position: center
    background-repeat: no-repeat
    width: 50px
    height: 50px
    float: left
    line-height: 60px
    text-align: center
    font-size: 20px
    font-weight: bold
    color: white
    cursor: help
    &:hover 
        color: black


.footer 
    .container 
        height: 60px
        line-height: 60px
        text-align: center
    

    background-color: #f5f5f5
