$fa-font-path: '/assets/fonts';
@import 'font-awesome/scss/font-awesome';


body {
    font-family: Lato, sans-serif;
}

.tomato-logo {
    position: absolute;
    top: 5px;
    left: 14px;
}
.navbar-brand {
    padding-left: 48px;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.card {
    border: 0;
}

$dark-red: #730217;
$light-red: #BF0426;
$dark-green: #2C4001;
$light-green: #72A603;

.timer {
    color: white;
    text-align: center;
    padding-bottom: 1rem;

    &.tomato {
        background-color: #cc0000;
    }
    &.break {
        background-color: #008800;
    }
}
.time-display {
    font-size: 4rem;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 1000;
}

.modal-dialog {
    z-index: 1050;
}

.tasks {
    margin-top: 20px;
    .task {
        margin-left: 40px;
        position: relative;
        .task-bullet {
            position: absolute;
            left: -24px;
            top: 3px;
            width: 20px;
            height: 20px;
            border: 6px solid white;
            border-radius: 20px;
            background-color: black;
            cursor: pointer;
            &:hover {
                border-color: grey;
            }
        }
        .task-title {
            outline: none;
        }
        .task-body {
            outline: none;
            color: #666;
        }
    }
}
