{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container">
    <h1>Login to Tomatoes Together</h1>

    <div class="row">
        <form method="POST" class="col-md-6">{% csrf_token %}
            {{ form|bootstrap }}
            <input id="id_login" type="submit" class="btn btn-primary btn-lg" value="Log In" />
            <br/>
            <br/>
            <p><a href="% url 'password_reset' %}">Forgot your password?</a></p>
        </form>
    </div>
</div>
{% endblock %}
