{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %} | Less Boring</title>

	<meta charset="utf-8" />
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% block head %}{% endblock %}
</head>

<body class="d-flex flex-column">
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<div class="navbar-nav">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'tomato.png' %}" />
				Tomatoes Together
			</a>
		</div>
		<button id="header-menu-toggle-button" class="navbar-toggler" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="header-menu" class="collapse navbar-collapse">
            {% if request.user.is_authenticated %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'project_list' %}">Projects</a>
                    <a class="nav-item nav-link" href="{% url 'work' %}">Work</a>
                    <a class="nav-item nav-link" href="{ url 'review' %}">Review</a>
                </div>
            {% endif %}
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <a class="nav-item nav-link">Hello {{ request.user.email }}</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'user_create' %}">Create Account</a>
                    <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>
	</nav>

	<div class="flex-grow-1">
		{% block content %}{% endblock %}
	</div>

    {% if not request.user.is_authenticated %}
        <div class="mt-5 py-4 bg-white text-muted">
            <div class="container text-center">
                <p class="m-0"><small>A <a href="https://www.lessboring.com/">Less Boring</a> App by David Colgan.</small></p>
            </div>
        </div>
    {% endif %}

	<script>
		document.getElementById('header-menu-toggle-button').addEventListener('click', function(e) {
			e.preventDefault();
			document.getElementById('header-menu').classList.toggle('show');
		});
	</script>

    {% render_bundle 'app' %}
</body>
</html>
