{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
            <span class="help-block text-danger">{{ error }}</span>
        {% endfor %}
    </div>
{% endfor %}

<div class="form-group">
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> Save
    </button>
</div>

