{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1>Tomatoes Together</h1>

    <div class="jumbotron">
        <p class="lead">Do you need to do deep, focused work but keep getting distracted by the incessant barrage of emails, chats, slacks, texts, tweets, and facebookery?  Do you wish you could disconnect to get work done, but can't because your boss needs you to always be available to respond to emails really fastly?</p>

        <p>You need Tomatoes Together!</p>

        <p>Tomatoes Together is based on the Pomodoro Technique, which encourages you to work for 25 minutes without interruption, and then take a 5 minute break.  Tomatoes Together takes this idea further, and uses the 5 minute break as a time to stay up to date on communications.</p>

        <p>25 minutes is long enough to get work done, but short enough that you won't miss anything important for very long.</p>
    </div>


    <div class="row">
        <iframe width="300" height="600" src="https://www.twitch.tv/dvcolgan/chat" frameborder="0"></iframe>
    </div>
</div>

{% endblock %}
