<!DOCTYPE html>
<html>
<head>
<title>Tomatoes Together! Work for 25 minutes, then chat for 5.</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">
<link type="text/plain" rel="author" href="humans.txt">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
<link href="/css/vendor.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrap">
    <div class="header clearfix mbl">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-6">
                    <h1>Tomatoes Together!</h1>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-6">
                    <p>Working by yourself can lead to a lack of motivation. But working around others can be distracting.  So do 25 minutes of focused work, and then take a 5 minute break to tell everyone about how it went!  Work periods start on the hour and half past the hour.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row mbl">
                    <div class="col-xs-5">
                        <div class="input-group">
                            <span class="input-group-addon">Chat Name</span>
                            <input type="text" name="username" data-bind="value: username, valueUpdate: 'keyup', style: { color: userColor }" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <span class="input-group-addon">Chat Color</span>
                            <input type="text" name="userColor" data-bind="value: userColor, valueUpdate: 'keyup'" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label class="btn btn-block btn-default">
                            <input style="display: none" type="checkbox" data-toggle="button" data-bind="checkbox: playSound">
                            <i data-bind="css: { 'glyphicon-volume-off': !playSound(), 'glyphicon-volume-up': playSound() }" class="glyphicon"></i>
                        </label>
                    </div>
                </div>
                <div data-bind="css: clockBreakTime">
                    <h2 data-bind="text: clockHeaderMessage">Tomato Time!</h2>
                    <div data-bind="text: formattedTime" class="clock-face"></div>
                    <div data-bind="visible: nextTomatoTask() === '', html: clockInnerHTML">
                    </div>
                    <div data-bind="if: nextTomatoTask() !== ''">
                        <p data-bind="text: clockInnerText"></p>
                        <h3 data-bind="text: nextTomatoTask"></h3>
                    </div>
                </div>
                <form data-bind="submit: joinNextTomato" class="input-group mbl">
                    <input placeholder="During this tomato I am going to..." type="text" name="nextTomatoTask" data-bind="value: nextTomatoTaskInput, valueUpdate: 'keyup'" class="form-control"><span class="input-group-btn">
                        <button type="submit" class="btn btn-success">Join</button></span>
                </form>
                <!-- ko if: doneTomatoes().length > 0-->
                <h3>Today's Completed Tomatoes</h3>
                <div data-bind="foreach: todaysTomatoes" class="done-tomato-container clearfix">
                    <div rel="tooltip" data-toggle="tooltip" data-placement="top" data-bind="text: $index() + 1, attr: { title: task }" class="done-tomato"></div>
                </div>
                <!-- /ko-->
            </div>
            <div class="col-md-6">
                <div>
                    <h2 style="margin: 0; margin-bottom: 21px;">Tell everyone about your work:</h2>
                    <div data-bind="template: { name: messageTemplateToUse, foreach: chatMessages }" class="well chat-container">
                    </div>
                    <form data-bind="submit: sendMessage">
                        <div class="input-group">
                            <input type="text" data-bind="value: newChatMessage, enable: chatEnabled()" class="new-chat-message form-control">
                            <span class="input-group-btn">
                            <button type="submit" data-bind="enable: chatEnabled()" class="btn btn-primary">Chat</button></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container text-muted">An experiment by <a href="https://twitter.com/davidscolgan">@davidscolgan</a></div>
</div>
<script id="defaultMessage" type="text/html">
    <div class="chat-message">
        <span data-bind="text: timestamp.toLocaleTimeString()"></span>&nbsp;<strong data-bind="text: username, style: { color: userColor }"></strong>:&nbsp;&nbsp;<span data-bind="html: body"></span>
    </div>
</script>
<script id="serverMessage" type="text/html">
    <div class="chat-message">
        <span data-bind="html: body"></span>
    </div>
</script>
<script src="/js/vendor.js"></script>
<script src="/js/app.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>require('main')</script>
</body>
</html>
