doctype html
html
    head
        title Tomatoes Together! Work for 25 minutes, then chat for 5.
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' href='/favicon.ico')
        link(type='text/plain', rel='author', href='humans.txt')
        link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
        link(href='/css/vendor.css', rel='stylesheet', type='text/css')
        link(href='/css/style.css', rel='stylesheet', type='text/css')
    body
        #wrap
            .header.clearfix.mbl
                .container
                    .row
                        .col-sm-6.col-md-8.col-lg-6
                            h1 Tomatoes Together!
                        .col-sm-6.col-md-4.col-lg-6
                            p. Working by yourself can lead to a lack of motivation. But working around others can be distracting.  So do 25 minutes of focused work, and then take a 5 minute break to tell everyone about how it went!  Work periods start on the hour and half past the hour.
            .container
                .row
                    .col-md-6
                        .row.mbl
                            .col-xs-5
                                .input-group
                                    span.input-group-addon Chat Name
                                    input.form-control(type='text', name='username', data-bind='value: username, valueUpdate: "keyup", style: { color: userColor }')
                            .col-xs-5
                                .input-group
                                    span.input-group-addon Chat Color
                                    input.form-control(type='text', name='userColor', data-bind='value: userColor, valueUpdate: "keyup"')
                            .col-xs-2
                                label.btn.btn-block.btn-default
                                    input(style="display: none", type='checkbox', data-toggle='button', data-bind='checkbox: playSound')
                                    i.glyphicon(data-bind='css: { "glyphicon-volume-off": !playSound(), "glyphicon-volume-up": playSound() }')
                        div(data-bind='visible: state() == "tomato"')
                            .clock.work
                                h2 Tomato Time!
                                .clock-face(data-bind='text: formattedTime')
                                div(data-bind='if: nextTomatoTask() === ""')
                                    h3 You have not joined this tomato.
                                div(data-bind='if: nextTomatoTask() !== ""')
                                    p Work without distractions until the work timer reaches zero on:
                                    h3(data-bind='text: nextTomatoTask')
                        div(data-bind='visible: state() == "break"')
                            .clock.break
                                h2 Break Time!
                                .clock-face(data-bind='text: formattedTime')
                                div(data-bind='if: nextTomatoTask() === ""')
                                    p Tell everyone about what you did in the chat until the break timer reaches zero!
                                div(data-bind='if: nextTomatoTask() !== ""')
                                    p Next tomato's task:
                                    h3(data-bind='text: nextTomatoTask')

                        form.input-group.mbl(data-bind='submit: joinNextTomato')
                            input.form-control(placeholder='During this tomato I am going to...', type='text', name='nextTomatoTask', data-bind='value: nextTomatoTaskInput, valueUpdate: "keyup"')
                            span.input-group-btn
                                button.btn.btn-success(type='submit') Join

                        // ko if: doneTomatoes().length > 0 
                        h3 Today's Completed Tomatoes
                        .done-tomato-container.clearfix(data-bind='foreach: todaysTomatoes')
                            .done-tomato(rel='tooltip', data-toggle='tooltip', data-placement='top', data-bind='text: $index() + 1, attr: { title: task }')
                        // /ko
                        

                        //h3 Stats
                        //ul
                        //    li Tomatoes today: 3
                        //    li Most in a day: 4

                                



                    .col-md-6
                        div(data-bind='visible: connected() && state() == "break"')
                            h2(style="margin: 0; margin-bottom: 21px;") Tell everyone about your work:
                            .well.chat-container(data-bind='foreach: chatMessages')
                                .chat-message
                                    span(data-bind='text: timestamp.toLocaleTimeString()')
                                    | &nbsp;
                                    strong(data-bind='text: username, style: { color: $root.userColor }')
                                    | :&nbsp;&nbsp;
                                    span(data-bind='html: body')

                            form(data-bind='submit: sendMessage')
                                .input-group
                                    input.new-chat-message.form-control(type='text', data-bind='value: newChatMessage')
                                    span.input-group-btn
                                        button.btn.btn-primary(type='submit') Chat
        #footer
            .container.text-muted
                | An experiment by 
                a(href='https://twitter.com/davidscolgan') @davidscolgan
                | .
        script(src='/js/vendor.js')
        script(src='/js/app.js')
        script(src="/socket.io/socket.io.js")
        script.
            require('main')
